.description-services {
  padding-bottom: 94px;
  &__list {
    display: flex;
    flex-wrap: nowrap;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    position: relative;
  }
}

.description-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $secondary-color;
  padding-bottom: 50px;
}

.describtion-wraper__img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
