.hero {
  background: #2f303a;
  align-items: center;
  padding: 200px 15px;
  margin: 0 auto;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
  background-image: $gradient-hero, url('../images/hero/hero.png.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &-button {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    min-width: 200px;
    font-size: 16px;
    line-height: 1.875;
    height: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: Roboto, sans-serif;
    color: #fff;
    background-color: #2196f3;
    cursor: pointer;
  }

  &-title {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 10px 32px;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: $gradient-hero, url(../images/mobile/section-hero/Hero-x1-mob.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: $gradient-hero, url(../images/tablet/section-hero/Hero-x1-tab.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: $gradient-hero, url(../images/desktop/section-hero/Hero-x1-des.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      background-image: $gradient-hero, url(../images/mobile/section-hero/Hero-x2-mob.jpg);
    }

    @media screen and (min-width: 768px) {
      background-image: $gradient-hero, url(../images/tablet/section-hero/Hero-x2-tab.jpg);
    }

    @media screen and (min-width: 1200px) {
      background-image: $gradient-hero, url(../images/desktop/section-hero/Hero-x2-des.jpg);
    }
  }
}
