.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms linear 250ms;
  }
}

/*============ MODAL  ============*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
    transition: all 500ms linear 0ms;
  }
  &-wraper {
    width: 528px;
    height: 581px;
    margin: auto;
    padding: 40px;
  }
  &-btn-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 10px;
  }
  .close-btn:focus + &-btn-svg {
    fill: $hover-color;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:focus {
    fill: $hover-color;
  }
}

/*============ MODAL FORM ============*/
.modal-form {
  width: 448px;

  &__text-area {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-color;
    margin-bottom: 12px;
  }
  &-field-wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
  }
  &-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
  }
  &-input:focus {
    outline: none;
    border: 1px solid $hover-color;
    cursor: pointer;
  }
  &-svg-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
  .modal-form-input:focus + &-svg-icon {
    fill: $hover-color;
  }
  &-policy-label::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 15px;
    outline: 1px solid #000;
    margin-right: 8px;
    .modal-form-policy:checked + & {
      background-image: url('../images/SVG/icon.check.svg.svg');
      background-color: #2196f3;
      border-color: transparent;
      background-size: contain;
      background-origin: border-box;
      border-radius: 2px;
      outline: none;
    }
  }
  &-policy-label::before:hover {
    border-color: transparent;
    background-color: $hover-color;
    border-radius: 4px;
    outline: none;
  }
}

textarea {
  resize: none;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  outline: none;
  width: 448px;
  height: 58px;

  &__fields-name {
    font-family: $accent-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: $accent-color;
  }

  &__modal-form {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: $hover-color;
  border-radius: 2px;
  margin-right: 7px;
}

.comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border: 1px solid $hover-color;
    cursor: pointer;
  }
}

.send-button {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;

  border: none;
  &-link {
    width: 89px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 56px;
  }
}

.agreemment-policy {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: $accent-color;
}

.terms-agreement {
  text-decoration: underline;
  color: $hover-color;
}
