.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 30px;
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-link:hover,
  &-link:focus {
    background-color: $hover-color;
    color: #ffffff;
  }
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: currentColor;
  }
}
