body {
  font-family: roboto, sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
}
img {
  display: block;
}
